


.signUpHeader
    margin 0 0 35px 0

.inputFormHolder
    position relative
    margin 0 0 50px 0
    &.error
        .inputLabel
            color errorTxt
        .inputBorder
            background #f99
            transform scaleX(1)



    input
        border-radius 0
        text-indent 5px
        height 26px
        line-height @height
        border-top 0
        border-right 0
        border-bottom 2px solid inputBotColor
        border-left 0
        width 100%
        font-size formInputFontSize
        color formInputColor
        &:focus
            outline none


.inputBorder
    position absolute
    height 2px
    bottom 0
    width 100%
    transition all aniTiming ease-in-out
    background transparent
    transform-origin center
    transform scaleX(0)
    &.animate
        transform scaleX(1)
        background borderActive

.inputLabel
    transition transform aniTiming ease-in-out
    position absolute
    pointer-events none
    bottom 6px
    left 5px
    font-size labelFontsize
    color formLabelColor
    &.animate
        transform translateY(-20px)

.errorHolder
    border 1px solid errorBorder
    box-sizing border-box
    padding 5px
    margin 12px 0 0 0
    text-align center
    background errorBg
    position absolute
    left 0
    top 100%
    width 100%
    color errorTxt
    transition transform aniTiming ease-in-out
    transform-origin top center
    transform scaleY(0)
    z-index 1
    opacity 0
    &.show
        opacity 1
        transform scaleY(1)
    &::before
        display block
        content ""
        width 20px
        z-index -5
        height @width
        background errorBg
        position absolute
        top -11px
        left 50%
        margin-left -10px
        transform rotateZ(45deg)
        border-top 1px solid errorBorder
        border-left 1px solid errorBorder

#submitForm
    border none
    color buttonFontColor
    font-size buttonFontSize
    display block
    border-radius 5px
    background buttonBg
    padding 12px 0
    width 100%
    text-align center
    cursor pointer
    &:focus
        outline none


