@media screen and (orientation:landscape) {
.flexWrapper {
  flex-direction: row;
}
}
@media screen and (orientation:portrait) {
.flexWrapper {
  flex-direction: column;
}
}
.signUpHeader {
  margin: 0 0 35px 0;
}
.inputFormHolder {
  position: relative;
  margin: 0 0 50px 0;
}
.inputFormHolder.error .inputLabel {
  color: #f00;
}
.inputFormHolder.error .inputBorder {
  background: #f99;
  transform: scaleX(1);
}
.inputFormHolder input {
  border-radius: 0;
  text-indent: 5px;
  height: 26px;
  line-height: 26px;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #c5c5c5;
  border-left: 0;
  width: 100%;
  font-size: 14px;
  color: #000;
}
.inputFormHolder input:focus {
  outline: none;
}
.inputBorder {
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background: transparent;
  transform-origin: center;
  transform: scaleX(0);
}
.inputBorder.animate {
  transform: scaleX(1);
  background: #00b7ff;
}
.inputLabel {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  pointer-events: none;
  bottom: 6px;
  left: 5px;
  font-size: 16px;
  color: rgba(77,77,77,0.302);
}
.inputLabel.animate {
  transform: translateY(-20px);
}
.errorHolder {
  border: 1px solid #f99;
  box-sizing: border-box;
  padding: 5px;
  margin: 12px 0 0 0;
  text-align: center;
  background: #fcc;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  color: #f00;
  transition: transform 0.3s ease-in-out;
  transform-origin: top center;
  transform: scaleY(0);
  z-index: 1;
  opacity: 0;
}
.errorHolder.show {
  opacity: 1;
  transform: scaleY(1);
}
.errorHolder::before {
  display: block;
  content: "";
  width: 20px;
  z-index: -5;
  height: 20px;
  background: #fcc;
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -10px;
  transform: rotateZ(45deg);
  border-top: 1px solid #f99;
  border-left: 1px solid #f99;
}
#submitForm {
  border: none;
  color: #fff;
  font-size: 16px;
  display: block;
  border-radius: 5px;
  background: #008000;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
#submitForm:focus {
  outline: none;
}
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  max-width: 1024;
  margin: 0 auto;
  width: 100%;
}
.flex-50 {
  flex: 50% 1;
}
.flexWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}
.counterWrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #f00;
  position: relative;
}
#timer {
  margin: 0 10px;
}
#winnerTicket {
  margin: 0 0 0 10px;
}
.winnerCounterHolder {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #008000;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transform: scaleX(0);
  transform-origin: center center;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
}
.winnerCounterHolder.show {
  opacity: 1;
  transform: scaleX(1);
}
ul {
  list-style-type: none;
  padding: 0;
  margin-right: 10%;
  overflow: hidden;
  overflow-y: auto;
  height: 145px;
}
li {
  padding: 8px 16px;
  text-indent: 5px;
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #c5c5c5;
  width: 75%;
  font-size: 16px;
  color: #000;
}
li:last-child {
  border-bottom: none;
}
