@import "globals.styl"
@import "form.styl"


body
    padding: 0
    margin 0
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00B7FF


.container
    max-width 1024
    margin 0 auto
    width 100%


.flex-50
    flex 50% 1

.flexWrapper
    display flex
    flex-wrap wrap
    padding 2%

.counterWrapper
    display flex
    justify-content center
    margin 10px 0 20px 0
    padding 0 0 5px 0
    border-bottom 1px solid red
    position relative

#timer
    margin 0 10px

#winnerTicket
    margin 0 0 0 10px

.winnerCounterHolder
    position absolute
    top 0
    bottom 0
    display flex
    align-items center
    justify-content center
    width 100%
    background winnerCounterBg
    border-radius winnerCounterBoxRadius
    color winnerCounterFontColor
    font-size winnerCounterFontSize
    transform scaleX(0)
    transform-origin center center
    transition transform aniWinnerTiming ease-in-out
    opacity 0
    &.show
        opacity 1
        transform scaleX(1)

ul
    list-style-type none
    padding 0 
    margin-right 10%
    overflow hidden 
    overflow-y auto
    height 145px

li
    padding 8px 16px
    text-indent 5px
    height 30px
    line-height @height
    border-bottom 2px solid inputBotColor
    width 75%
    font-size labelFontsize
    color formInputColor

li:last-child
    border-bottom none
